.modal {
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255, .6);
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
}

.opening {
  border: 3px solid white;
  width: 25%;
  height: 50%;
  margin: 5% auto;
  padding: 25px;
  background-image: url('../assets/images/rain.gif');
  background-color: lightblue;
  background-size: cover;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
}

/* .modal-background {
  background-image: url('../assets/images/rain.gif');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
} */

.professional-links {
  justify-content: center;
  display: flex;
}

.opening .text{
  margin: 15px auto;
}

.opening h1 {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-left: -20px;
  padding-right: -20px;
}

.opening li {
  display: inline-block;
  margin: 0 6px;
}

.opening .buttons {
  margin: 0 auto;
}
.opening a {
  margin-top: 30px;
  padding: 5px 10px;
  margin: 5px;
  display: block;
}

.opening a:hover {
  font-weight: bold;
}

.opening a:active {
  transform: scale(1.1);
}

.close {
  width: 93%;
  margin-left: 45%;
}

.close a {
  text-align: center;
}

.close:hover {
  font-weight: bold;
}

.close:active {
  transform: scale(1.1);
}

.closed {
  display: none;
}

/* .opening li.github {
  margin-left: 20px;
}

.opening li.personal {
  margin-left: 20px;
} */
