
body {
  background-color: lightgrey;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

#treeCanvas {
  background: transparent;
  position: absolute;
}
#canvas {
  background: transparent;
  position: absolute;
}

.music-player {
  position: absolute;
  top: 50px;
  left: 100px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  z-index: 1;
}

.frequency-bar {
  bottom: 100px;
  background: transparent;
  width: 1000px;
  margin: 0 auto;
}
