html {
  overflow-x: hidden;
}

body {
  background-color: #e6f7ff;
}

.background-image {
  background-image: url('../assets/images/background.gif');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

#treeCanvas {
  background: transparent;
  position: absolute;
}

#canvas {
  background: transparent;
  position: absolute;
}

.music-player {
  position: absolute;
  top: 70px;
  left: 5%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 400;
  z-index: 1;
}

.music-player button {
  margin-top: 30px;
}

.music-player button:hover {
  color: darkred;
}

.music-player button:active {
  transform: scale(1.1);
}

.frequency-bar {
  bottom: 100px;
  background: transparent;
  width: 100%;
  margin: 0 auto;
}

.main-signature {
  top: 20px;
  left: 20px;
  position: absolute;
  z-index: 1;
  font-style: italic;
  font-size: 15px;
}
